@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff2e5;
  color: #272932;
}

.hero {
  background-image: url("./images/magicstudio-art (1).jpg");
  background-size: cover;
}

.fade-in {
  animation: fade-in 2000ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
